__pycache__/
.pytest_cache
.vscode/
.ipynb_checkpoints/
data/test/
data/train/
data/validation/
data/CorelDB/
Thumbs.db
cache/

src/CBIR/data.csv
src/CBIR/result/*.csv
src/CBIR/result/retrieval/*
!src/CBIR/result/retrieval/.gitkeep

src/CNN/result/*.h5
src/CNN/result/retrieval/*
!src/CNN/result/retrieval/.gitkeep
