[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
scikit-learn = "*"
scikit-image = "*"
tensorflow = "*"
keras = "*"
pandas = "*"
pillow = "*"
torch = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
